@model List<Blog>

<div class="featured-slider-2">
    <div class="featured-slider-2-items">

        @foreach (var item in Model)
        {
            <div class="slider-single">
                <div class="post-thumb position-relative">
                    <div class="thumb-overlay position-relative" style="background-image: url(@item.ImageUrl)">
                        <div class="post-content-overlay">
                            <div class="container">
                                <div class="entry-meta meta-0 font-small mb-20">
                                    <a href='/Blog/Detail/@item.BlogID' tabindex='0'><span class="post-cat text-info text-uppercase">@item.Category.Name</span></a>
                                    <a href='/Blog/Detail/@item.BlogID' tabindex='0'><span class="post-cat text-warning text-uppercase">Animal</span></a>
                                </div>
                                <h1 class="post-title mb-20 font-weight-900 text-white">
                                    <a class='text-white' href='/Blog/Detail/@item.BlogID' tabindex='0'>@item.Title</a>
                                </h1>
                                <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                    <span class="post-on">@(((DateTime)item.CreateDate).ToString("dd/mm/yyyy"))</span>
                                    <span class="hit-count">@item.TopViewCount görüntüleme</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="container position-relative">
        <div class="arrow-cover color-white"></div>
        <div class="featured-slider-2-nav-cover">
            <div class="featured-slider-2-nav">

                @foreach (var subitem in Model)
                {
                    <div class="slider-post-thumb mr-15 mt-20 position-relative">
                        <div class="d-flex hover-up-2 transition-normal">
                            <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                                <img class="border-radius-5" src="@subitem.ImageUrl" alt="">
                            </div>
                            <div class="post-content media-body text-white">
                                <h5 class="post-title mb-15 text-limit-2-row">@subitem.Title</h5>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on text-white">@(((DateTime)subitem.CreateDate).ToString("dd/mm/yyyy"))</span>
                                    <span class="post-by has-dot text-white">@subitem.TopViewCount görüntüleme</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>