@model List<Blog>

@foreach (var item in Model)
{
    <article class="col-md-6 mb-40 wow fadeInUp  animated">
        <div class="post-card-1 border-radius-10 hover-up">
            <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(@item.ImageUrl)">
                <a class='img-link' href='/Blog/Detail/@item.BlogID'></a>
            </div>
            <div class="post-content p-30">
                <div class="entry-meta font-small mb-10">
                    <a href='/Blog/Detail/@item.BlogID'><span class="post-cat text-info">@item.Category.Name</span></a>
                </div>
                <div class="d-flex post-card-content">
                    <h5 class="post-title mb-20 font-weight-900">
                        <a href='/Blog/Detail/@item.BlogID'>@item.Title</a>
                    </h5>
                    <div class="post-excerpt mb-25 font-small text-muted">
                        @if (item.Description != null)
                        {
                            <p>@item.Description</p>
                        }
                        else
                        {
                            @item.Description
                        }
                    </div>
                    <div class="entry-meta meta-1 float-left font-x-small text-capitalize">
                        <span class="post-on">@(((DateTime)item.CreateDate).ToString("dd/MM/yyyy"))</span>
                        <span class="post-by">@item.TopViewCount Görüntüleme</span>
                        <a href='/AuthorByBlogPage/@item.AuthorID'>
                            <span class="post-by">
                                @item.Author.Name @item.Author.Surname
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
}