@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model PagedList<Blog>
@{
    ViewData["Title"] = "CategoryByBlogList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!--archive header-->
    <div class="archive-header pt-50">
        <div class="container">
            <h2 class="font-weight-900">@ViewBag.CategoryName ile ilgili Yazılarımız</h2>
            <div class="breadcrumb">
                <a href='/' rel='nofollow'>Anasayfa</a>
                <span></span> @ViewBag.CategoryName
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <div class="pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-module-2">
                        <div class="loop-list loop-list-style-2">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <article class="col-md-6 mb-40 wow fadeInUp  animated">
                                        <div class="post-card-1 border-radius-10 hover-up">
                                            <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(@item.ImageUrl)">
                                                <a class='img-link' href='/Blog/Detail/@item.BlogID'></a>
                                                <ul class="social-share">
                                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="post-content p-30">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <a href="/"><span class="post-cat text-info">@item.Category.Name</span></a>
                                                </div>
                                                <div class="d-flex post-card-content">
                                                    <h5 class="post-title mb-20 font-weight-900">
                                                        <a href="/Blog/Detail/@item.BlogID">@item.Title</a>
                                                    </h5>
                                                    <div class="post-excerpt mb-25 font-small text-muted">
                                                        <p>@item.Description</p>
                                                    </div>
                                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                        <span class="post-on">@(((DateTime)item.CreateDate).ToString("dd/MM/yyyy"))</span>
                                                        <span class="time-reading has-dot">12 mins read</span>
                                                        <span class="post-by has-dot">@item.TopViewCount Görüntüleme</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area mb-30 wow fadeInUp animated">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                @Html.PagedListPager(Model, sayfa => Url.Action("CategoryByBlogList", "Blog",
                                             new
                                             {
                                                 sayfa = sayfa

                                             }), new X.PagedList.Web.Common.PagedListRenderOptions
                                            {
                                             LiElementClasses = new string[] { "page-item" },
                                             PageClasses = new string[] { "page-link" }
                                            })
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">

                        @await Component.InvokeAsync("_DefaultMostPopularPartialComponent")

                        @await Component.InvokeAsync("_DefaultLastCommentPartialComponent")

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

